@import url(cabecera.css); /*import configuracion de cabecera*/
@import url(footer.css); /*import configuacion de footer*/

:root{
    --color-primario: #9D9CE1;
    --color-secundario: #bc4e9c;
    --color-titulo: #642A73;
    --color-texto:#000;
    --background-fondo: #4D0686;
    --liea-divisoria-footer: #AF20D3;
    --background-footer:#414141;
    --titulo-footer: #FFFFFF;
    --texto-footer: #CCCCBF;
    --nombre-footer:#CCCCCC;
    --bacgroudn-pagina: #fff;   
    --texto-nav: #fff;
    --texto-blaco:#fff;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.container{ 
    /*background-color: #9761dd;*/
    display: flex;
    justify-content: center;
    align-items: center;
   /* grid-template-columns:0.5fr 1fr 1fr 1fr 1fr;/*15% 60% 25%*/
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 70px;
   /* margin-top: 40px;*/

}

/*imagen peque;a */
.imgLateral {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}
.imgLateral img{
    margin: 5px;
    width: 104px;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5); /*agrega sombra*/
    padding: 3px;
}
.imgLateral img:hover{
    border: 1px solid var(--background-fondo);
    box-shadow: 0 0 6px 0 var(--background-fondo); /*agrega sombra*/
}

/*imagen foco */
.imgFoco{
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    max-width: 550px;
    max-height: 450px;
  
}
.imgFoco img{
    width: 90%;  /*se reduce para que quepa el efecto lupa*/
    height: auto;
    padding: 0px;
    border-radius: 10px;
}

/*texto o informacion*/
.textoInformacion{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 300px;
   
}

.textoInformacion h1{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #642a73;
    font-size: 30px;
    display: flex;
    border-bottom: 1px solid #c5c5c5;
    margin-bottom: 0;

}

.textoInformacion h2{
    text-align: center;
     color: var(--color-titulo);
     font-size: 10px;
     display: flex;
     font-weight: 200;
 }
 
 .textoInformacion .precio{
     font-size: 15px;
     margin-top: 15px;
     margin-bottom: 15px;
     color: var(--color-texto);
     font-weight:600 ;
     border-bottom: 1px solid var(--nombre-footer);
 }
 .textoInformacion li{
    list-style: disc;
    color: var(--color-texto);
    font-size: 10px;
 }
.textoInformacion p{
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-texto);
    margin-bottom: 2px;
}/*configuracion de iconos sociales*/
.iconos-redes{
    width: 100%;
    display: flex;
    align-content: flex-end;
}
.iconos-redes ul.iconos{
    width: 85%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row ;
    justify-content: flex-end;
}

.iconos >li{
    list-style: none;
    margin: 25px;
}

.iconos #what:hover {
   fill: #57c934;
   -moz-transform:scale(1.10); 
    
}
.iconos #inst:hover {
   fill: #e69eb6;
   -moz-transform:scale(1.10);  
}
.iconos #mese:hover {
   fill: #c9e2c1;
   -moz-transform:scale(1.10);  
}


/*svg de whattapp*/
#what{
    fill: #35a812;
}
/*svg de instagram*/
#inst{
    fill:  #d67f9c;  /* fallback for old browsers */
    fill: -webkit-linear-gradient(to right, #F7BB97, #DD5E89);  /* Chrome 10-25, Safari 5.1-6 */
    fill: linear-gradient(to right, #F7BB97, #DD5E89); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
}
/*svg de messiguer*/
#mese{
    border-radius: 14px;
}



@media screen and (max-width:1000) {
    
    .iconos-redes ul.iconos{
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: row ;
        justify-content: center;
    }
}

@media screen and (max-width:900px) {
    *{
        margin: 0;
        padding: 0;
    }
    /*bloquea la funcion de zoom de javascript*/
    .block__pic{
        pointer-events: none;
        cursor: default;
    }
/*------------------------------------------------*/
    header{
        height: 80px;
        margin-top: 0;
    }

    nav > a{
        font-size: 14px;
    }
   
    .container{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 40px;
        
    }
    .container .imgLateral{
        order: 2;
        flex-direction: row;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 50px;
        padding: 0;
        padding: 8px;
    }
    .imgLateral img{
        width: 85px;
        height: auto;
        display: flex;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5); /*agrega sombra*/
    }

    .container .imgFoco{
     order: 3;
     max-width: 100%;
     height: auto; 
     display: flex; 
     justify-content: center;
     background: none;
    }
    .imgFoco img{
        display: flex;
        width: 90%;
        height: auto;
    }

    .textoInformacion{
        order: 1;
        margin: auto;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    
    .iconos-redes ul.iconos{
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: row ;
        justify-content: center;
    }
    .content-foo p{
        font-size: 2;
    }
    
    .contenedor-footer{
        justify-content: center;
        flex-direction: column;
    }
}





